/* SPDX-License-Identifier: Apache-2.0 */
/* Copyright 2026 Racoon Typper Contributors */

:root {
  --bg: #151a24;
  --bg-main: #151a24;
  --bg-sub: #202a38;
  --main: #5eead4;
  --caret: #fbbf24;
  --sub: #7890a8;
  --text: #e8f0f7;
  --error: #fb7185;
  --error-extra: #fb7185;
  --colorful-error: #fb7185;
}
