# SPDX-License-Identifier: Apache-2.0
# Copyright 2026 Racoon Typper Contributors
[Desktop Entry]
Type=Application
Name=Racoon Typper
Comment=Local touch typing trainer
Exec=racoon-typper
Icon=racoon-typper
Categories=Education;Typing;
Terminal=false
